    {{ form_start(form) }}

        {{ form_row(form.prenoms) }}
        {{ form_row(form.nomFam) }}
        {{ form_row(form.nomUsa) }}
        {{ form_row(form.birth) }}

        <button type="submit" class="btn btn-primary">Rechercher</button>
    {{ form_end(form) }}