{% extends 'base.html.twig' %}

{% block title %}Utilisateurs index{% endblock %}

{% block body %}
    <h1>Utilisateurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom de famille</th>
                <th>Nom d'usage</th>
                <th>Prénoms</th>
                <th>Date de naissance</th>
                <th>Adresse principal</th>
                <th>Complément d'adresse</th>
                <th>Ville</th>
                <th>Code postale</th>
                <th>Créer par</th>
                <th>Modifier par</th>
                <th>Identifiant carte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nomFamUt }}</td>
                <td>{{ utilisateur.nomUsUt }}</td>
                <td>{{ utilisateur.preUt }}</td>
                <td>{{ utilisateur.dayBirthUt ? utilisateur.dayBirthUt|date('Y-m-d') : '' }}</td>
                <td>{{ utilisateur.firstAdressUt }}</td>
                <td>{{ utilisateur.compAdressUt }}</td>
                <td>{{ utilisateur.cityUt }}</td>
                <td>{{ utilisateur.cpUt }}</td>
                <td>{{ utilisateur.createdAt ? utilisateur.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ utilisateur.updatedAt ? utilisateur.updatedAt|date('Y-m-d H:i:s') : '' }}</td>

                {% endfor %}

                {% for cartes in carte %}

                <td> {{ cartes.id }}</td>

                {% endfor %}

                {% for utilisateur in utilisateurs %}

                <td>
                    <a href="{{ path('utilisateurs_show', {'id': utilisateur.id}) }}">Voir Fiche</a>
                    <a href="{{ path('utilisateurs_edit', {'id': utilisateur.id}) }}">Modifier</a>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <a href="{{ path('utilisateurs_new') }}">Créer nouvelle utilisateur</a>
{% endblock %}
